<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ThingView</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link href="/static/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/static/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/feather/feather.min.js"></script>
    <style>
    .blue-background {
      background: #e6f5ff;
    }
    .values-box {
      padding:0.01em 16px; margin:20px 0; box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
    }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body class="blue-background">
    <!-- main navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="/">ThingView IoT hub</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">        
          <a class="nav-link" href="/map"><span data-feather="map"></span>&nbsp;carte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/devices"><span data-feather="list"></span>&nbsp;liste</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if g.is_admin %}
        <li class="nav-item">
          <a class="nav-link" href="/users"><span data-feather="users"></span>&nbsp;users</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#"><span data-feather="alert-triangle"></span>&nbsp;status</a>
        </li>
        <li class="nav-item">
          {% if g.is_admin %}
          <a class="nav-link" href="/update_pwd"><span data-feather="user"></span>&nbsp;{{ session.username }} (admin)</a>
          {% else %}
          <a class="nav-link" href="/update_pwd"><span data-feather="user"></span>&nbsp;{{ session.username }}</a>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><span data-feather="log-out"></span>&nbsp;logout</a>
        </li>
      </ul>
    </nav>
    <!-- content -->
    <div class="pt-3 px-4">
      {% block content %}{% endblock %}
    </div>
    <script>
      feather.replace()
    </script>
  </body>
</html>
