{% extends "base.html" %}

{% block content %}
{% if success %}
<br>
<div class="alert alert-success" role="alert">
  <strong>Succès:</strong> {{ success }}
</div>
{% endif %}
{% if error %}
<br>
<div class="alert alert-danger" role="alert">
  <strong>Erreur:</strong> {{ error }}
</div>
{% endif %}
{% if not (success or error) %}
<div class="container col-sm-6 col-sm offset-3">
  <form class="form-horizontal" method="POST" action="">
    {{ form.csrf_token }}
    <h2 class="form-signin-heading">Edition du device "{{ dev.device_id }}"</h2>
    <br>
      <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class='form-control', value=dev.name) }}
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      {% if dev.thing == 'tx_pulse' %}
      <div class="form-group">
        {{ form.tx_pulse_n1.label }}
        {{ form.tx_pulse_n1(class='form-control', value=dev.get('tx_pulse_n1', 'vm')) }}
        {% for error in form.tx_pulse_n1.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.tx_pulse_w1.label }}
        {{ form.tx_pulse_w1(class='form-control', value=dev.get('tx_pulse_w1', 1)) }}
        {% for error in form.tx_pulse_w1.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.tx_pulse_n2.label }}
        {{ form.tx_pulse_n2(class='form-control', value=dev.get('tx_pulse_n2', 'vc')) }}
        {% for error in form.tx_pulse_n2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.tx_pulse_w2.label }}
        {{ form.tx_pulse_w2(class='form-control', value=dev.get('tx_pulse_w2', 10)) }}
        {% for error in form.tx_pulse_w2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      {% endif %}
      {{ form.submit(class='btn btn-lg btn-primary btn-block') }}
  </form>
</div>
{% endif %}
{% endblock %}
