{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <div class="h2">Mise à "initial" du mot de passe de l'utilisateur "{{ user.user }}"</div>
</div>
{% if error %}
<br>
<div class="alert alert-danger" role="alert">
  <strong>Erreur:</strong> {{ error }}
</div>
{% endif %}
<form class="form-inline" method="POST" action="">
  {{ rst_form.csrf_token }}
  {{ rst_form.user_id }}
  {{ rst_form.submit(class='btn btn-warning') }}
</form>
{% for error in rst_form.user_id.errors %}
<span style="color: red;">[{{ error }}]</span>
{% endfor %}
{% endblock %}
