{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <div class="h2">Liste des devices</div>
</div>
<div class="table-responsive">
<table class="table table-striped table-sm text-center" style="background-color:#e6f5ff;">
  <thead>
    <tr>
      <th>Réseau</th>
      <th>Type</th>
      <th>Device ID</th>
      <th>Site</th>
      <th>Dernier message</th>
      <th>Batterie</th>
      <th>Version firmware</th>
      <th>Position estimée</th>
      {% if g.is_admin %}
      <th>Configuration</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for device in devices %}
    <tr>
      {% if device.network == 'sigfox' %}
      <td class="align-middle"><img src="/static/img/logo_sigfox.svg" title =" Sigfox " alt="  Sigfox  " width="110" height="45" /></td>
      {% elif device.network == 'ttn' %}
      <td class="align-middle"><img src="/static/img/logo_ttn.svg" title =" TTN " alt="  TTN  " width="88" height="36" /></td>
      {% else %}
      <td class="align-middle">{{ device.network }}</td>
      {% endif %}
      {% if device.thing == 'tx_pulse' %}
      <td class="align-middle">Enless Tx Pulse</td>
      <td class="align-middle"><a href="/things/tx_pulse/{{ device.device_id }}">{{ device.device_id }}</a></td>
      {% else %}
      <td class="align-middle"><i>inconnu</i></td>
      <td class="align-middle">{{ device.device_id }}</td>
      {% endif %}
      <td class="align-middle">{{ device.name }}</td>
      <td class="align-middle">{{ device.last_msg | datetimefilter}}</td>
      {% if device.batt_ok == true %}
      <td class="align-middle alert alert-success" role="alert">OK</td>
      {% else %}
      <td class="align-middle alert alert-danger" role="alert">A remplacer</td>
      {%endif %}
      <td class="align-middle">{{ device.f_version }}</td>
      <td class="align-middle"><a href="http://www.openstreetmap.org/?mlat={{ device.lat }}&mlon={{ device.lng }}&zoom=10" target="_blank">{{ device.lat|round(4) }}, {{ device.lng|round(4) }}</a></td>
      {% if g.is_admin %}
      <td class="align-middle"><a href="/"><span data-feather="settings"></span></a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
